modules = ["nodejs-20", "python-3.12", "web"]
run = "cd frontend && npm run script"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run script"]

[[ports]]
localPort = 4028
externalPort = 80

[workflows]
runButton = "Run Django Server"

[[workflows.workflow]]
name = "Run Django Server"
author = 43059492
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd $REPL_HOME && cd backend && python -m venv .venv && source .venv/bin/activate && pip install -r requirements.txt && python manage.py migrate && python manage.py runserver 0.0.0.0:5000"
