---
description: 'Gitignore file for the backend of the PTF project and emacs configuration.'
tools: [ 'tool1', 'tool2' ]
---
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
# PyInstaller
#  Usually contains a file name like `myapp.spec`.
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
